
.about-overview__item {
  position: relative;
  text-align: center;

  &.clients {
    height: 50%;
    // border-right: 1px solid rgba(255,255,255,.2);
    // border-bottom: 1px solid rgba(255,255,255,.2);
  }

  &.behind-the-scenes {
    height: 50%;
    // border-right: 1px solid rgba(255,255,255,.2);
  }

  &.we {
    height: 100%;
  }

  &.contact {
    height: 50%;
    // border-bottom: 1px solid rgba(255,255,255,.2);
    // border-left: 1px solid rgba(255,255,255,.2);
  }

  &.imprint {
    height: 50%;
    // border-left: 1px solid rgba(255,255,255,.2);
  }
}

@media screen and (max-width: 768px) {
  .about-overview__item {
    min-height: 170px;
    width: 100%;

    // border: none !important;
    // border-bottom: 1px solid rgba(255,255,255,.2) !important;

    &.we, &.clients, &.contact, &.imprint, &.behind-the-scenes {
      height: auto;
    }

    &.has-no-link {
      display: none;
    }
  }

}

.about-overview__item a {
  display: block;
  width: 100%;
  height: 100%;

  color: white;
  text-decoration: none;
}

.about-overview__item__image {
  background: rgba(255,255,255,.2);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;

  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;

  background-size: cover;
  background-position: center;
}

.has-no-link .about-overview__item__image,
.has-no-link.about-overview__item:hover .about-overview__item__image {
  opacity: 0;
}

.about-overview__item:hover .about-overview__item__image {
  opacity: .4;
}

.about-overview__item__overlay {
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.about-overview__item__overlay__caption {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 1em;
  margin-top: -19px;

  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
}
