
.about-container {
	height: 100%;
}

.about-overview {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
}

.about-overview__left {
	height: 100%;
	width: 33.33333%;
	float: left;
}

.about-overview__center {
	height: 100%;
	width: 33.33333%;
	float: left;
}

.about-overview__right {
	height: 100%;
	width: 33.33333%;
	float: left;
}

@media screen and (max-width: 768px) {
	.about-overview__left, .about-overview__center, .about-overview__right {
		width: 100%;
		height: auto;
	}
}