.behindthescenes-gallery {
	height: 100%;
}

.behindthescenes-photo-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
	
@media screen and (max-width: 768px) {
	.behindthescenes-gallery {
		height: auto;
	}
}

