
.footer {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.footer {
  top: auto;
  bottom: 0;
  padding: 10px 0 10px;
}

.footer__social-buttons a {
  display: inline-block;
  margin: 0 30px;
}
