.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  min-width: 320px;
  height: 60px;
}

.logo {
  position: fixed;
  top: 6px;
  left: 50%;
  margin-left: -58px;
  height: 90px;
  width: 116px;
  background: image-url('../../images/logo_triangle.png') center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  z-index: 1500;
  pointer-events: none;
}

.nav {
  display: block;
}

.nav__list {
  list-style: none;
  margin: 20px 10px;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
}

.nav__list__item {
  display: inline-block;
  margin-right: 150px;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}


.nav__list__item a {
  color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  box-sizing: border-box;
  margin: 3px;
}

.nav__list__item a.active {
  // border-left: 3px solid #000;
  // border-right: 3px solid #000;
  // border-bottom: 3px solid #000;
  // margin: 0;
  color: #000;
}

