.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  min-width: 320px;
}

.header__logo {
  float: left;
  margin: 0;
  position: absolute;
  left: 0;
  height: 40px;
  width: 133px;
  background: image-url('../../images/logo2.png') center center no-repeat;
  background-size: contain;
  margin: 10px 20px;
  text-indent: -9999px;
  z-index: 100;
}

.nav {
  display: block;
}

.nav__list {
  list-style: none;
  margin: 20px 10px;
  position: relative;
  padding: 0;
}

.nav__list__item {
  display: inline-block;
  margin-right: 100px;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .nav__list__item {
    margin-right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .nav__list__item {
    margin-right: 20px;
  }

  .header__logo {
    width: 32px;
    background-image: image-url('../../images/logo_small.png');
  }
}

@media screen and (max-width: 480px) {
  .nav__list {
    text-align: right;
  }

  .nav__list__item {
    margin-right: 5px;
  }
}


.nav__list__item a {
  color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  box-sizing: border-box;
  margin: 3px;
}

.nav__list__item a.active {
  // border-left: 3px solid #000;
  // border-right: 3px solid #000;
  // border-bottom: 3px solid #000;
  // margin: 0;
  color: #000;
}

