.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  min-width: 320px;
  height: 60px;
}

.logo {
  position: fixed;
  top: 6px;
  left: 50%;
  margin-left: -58px;
  height: 90px;
  width: 116px;
  background: url('../images/logo_triangle.png') center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  z-index: 1500;
  pointer-events: none;
}

.nav {
  display: block;
}

.nav__list {
  list-style: none;
  margin: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
}

.nav__list__item {
  position: absolute;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.nav__list__item--left {
  right: 50%;
  margin-right: 110px;
}

.nav__list__item--right {
  left: 50%;
  margin-left: 110px;
}

.nav__list__item--logo {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
  .nav__list__item--left {
    margin-right: 70px;
  }

  .nav__list__item--right {
    margin-left: 70px;
  }
}

.nav__list__item a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.nav__list__item a.active {
  color: #b3b3b3;
}

