
.imprint_container {
    position: relative;
    height: 100%;
    width: 100%;
    display: table-row;
}

.imprint__bg-image {
    z-index: -1;
    opacity: .5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: image-url('../../images/imprint_bg.jpg');
    background-attachment: fixed;
    background-position: center center;
}

.imprint__content {
    padding: 30px 50px 30px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    p {
        font-size: 1.125em;
        margin: 10px 0 30px;
    }

    a:link, a:visited {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    h2 {
        margin: 40px 0 0;
    }
}

@media screen and (max-width: 480px) {
    .imprint__content {
        padding: 0 20px 10px;
        font-size: .75em;
    }
}

.imprint__content__headline {
    color: white;
    text-transform: uppercase;
    margin: 50px 0 0;
}
