// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f0f0f0;
  background: black;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  padding: 61px 0 54px;
  box-sizing: border-box;
  min-width: 320px;
}

#app {
  height: 100%;
}

.container {
  height: 100%;
}

.content {
  position: relative;
  height: 100%;
}

.btn-close {
  text-indent: -9999px;
  width: 30px;
  height: 30px;
}

.btn-close::before {
  position: absolute;
  width: 141.42%;
  content: "";
  height: 3px;
  background: white;
  top: 50%;
  left: -20.71%;

  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg); /* IE 9 */
  -webkit-transform: translateY(-50%) rotate(-45deg); /* Chrome, Safari, Opera */
  transform: translateY(-50%) rotate(-45deg);
}

.btn-close::after {
    position: absolute;
    width: 141.42%;
    content: "";
    height: 3px;
    background: white;
    bottom: 50%;
    left: -20.71%;

    -moz-transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg); /* IE 9 */
    -webkit-transform: translateY(50%) rotate(45deg); /* Chrome, Safari, Opera */
    transform: translateY(50%) rotate(45deg);
  }
