// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  background: black;
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  padding: 61px 0 54px;
  min-width: 320px;
}

.content {
  position: relative;
}

.btn-close {
  text-indent: -9999px;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.btn-close::before {
  position: absolute;
  top: 43%;
  left: -14%;
  content: "";
  width: 129%;
  height: 3px;
  background: white;

  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.btn-close::after {
    position: absolute;
    bottom: 44%;
    left: -14%;
    content: "";
    width: 129%;
    height: 3px;
    background: white;

    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
