.video-player {
	background: black;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-player__iframe {
	display: block;
	border: none;
}

.video-player__btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

