.video-player {
	background: black;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-player__iframe {
	display: block;
	border: none;
}

.video-player__btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
	text-indent: -9999px;
	overflow: hidden;
	width: 30px;
	height: 30px;

	&::before {
		position: absolute;
		top: 43%;
		left: -14%;
		content: "";
		width: 129%;
		height: 3px;
		background: white;

		-moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg); /* IE 9 */
	    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	    transform: rotate(-45deg);
	}

	&::after {
		position: absolute;
		bottom: 44%;
		left: -14%;
		content: "";
		width: 129%;
		height: 3px;
		background: white;

		-moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg); /* IE 9 */
	    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	    transform: rotate(45deg);
	}
}
