.video-player {
	background: black;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-player__iframe {
	display: block;
	border: none;
}

.video-player__btn-close {
	position: absolute;
	top: 25px;
	right: 20px;	
	width: 24px;
	height: 24px;
}

@media screen and (max-width: 768px) {
	.video-player__btn-close {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 480px) {
	.video-player__btn-close {
		width: 14px;
		height: 14px;
	}
}
